In [1]:
import pandas as pd
import numpy as np
import os 
import json
import re

## Drop The Unnecessary columns From The Data Frame

In [2]:
# input and output files directory
input_dir = 'input files/'
output_dir = 'output files/'

In [3]:
# taking the zilker neighborhood file as a sample as all the neighborhoods are scraped similarly
file = input_dir + "Realator realestateandhomes_search in Zilker_Austin_TX-type_single_family_home at 2023-01-27 19.57.47.json"
df = pd.read_json(file)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing page            34 non-null     object
 1   status                  34 non-null     object
 2   price                   34 non-null     object
 3   address                 34 non-null     object
 4   bed rooms               34 non-null     object
 5   bath rooms              34 non-null     object
 6   parameter               34 non-null     object
 7   lot area                34 non-null     object
 8   property type           34 non-null     object
 9   display period          34 non-null     object
 10  price per foot          34 non-null     object
 11  garage                  34 non-null     object
 12  year built              34 non-null     object
 13  neighborhood            34 non-null     object
 14  property details        34 non-null     object
 15  monthly payment         34 non-null     object
 16  environmental risk      34 non-null     object
 17  property price history  34 non-null     object
 18  property tax history    34 non-null     object
 19  flood factor score      34 non-null     int64
 20  provider name           34 non-null     object
 21  provider phone          34 non-null     object
 22  provider page           34 non-null     object
 23  schools                 34 non-null     object
 24  fire factor score       34 non-null     int64
dtypes: int64(2), object(23)
memory usage: 6.9+ KB

In [5]:
df.head()

,listing page,status,price,address,bed rooms,bath rooms,parameter,lot area,property type,display period,...,monthly payment,environmental risk,property price history,property tax history,flood factor score,provider name,provider phone,provider page,schools,fire factor score
0,https://www.realtor.com/realestateandhomes-det...,For Sale,"$3,900,000","2008 Kinney Ave, Austin, TX 78704Email agent",4bed,3bath,025sqf,"6,251sqft lot",Single Family,2 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/24\/2023"",""1"":""01\/23\/2023""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Tracy Tutor Tutor,(512) 866-3795,www.austinhomesearch.com/9478274,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
1,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,250,000","2105 Rabb Glen St, Austin, TX 78704Email agent",3bed,2bath,160sqf,"6,395sqft lot",Single Family,16 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/11\/2023"",""1"":""05\/31\/1991""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Connelly Breeland,(512) 327-4800,https://www.sothebysrealty.com/id/dfbe8f,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
2,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,199,500","1607 Rabb Rd, Austin, TX 78704Email agent",4bed,2bath,456sqf,"8,102sqft lot",Single Family,21 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/06\/2023"",""1"":""01\/08\/2022""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Gregg Wallace,(512) 422-8906,www.austinhomesearch.com/6284957,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
3,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,850,000$25k","2124 Bluebonnet Ln, Austin, TX 78704Email agent",4bed,3bath,056sqf,0.3acre lot,Single Family,65 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/12\/2023"",""1"":""12\/12\/2022""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Annie Bright,(512) 518-0008,www.austinhomesearch.com/1665872,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
4,https://www.realtor.com/realestateandhomes-det...,For Sale,"$849,900$50k","1800 Kinney Ave, Austin, TX 78704Email agent",2bed,2bath,318sqf,"5,484sqft lot",Single Family,72 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/26\/2023"",""1"":""01\/12\/2023""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Jordan Moorhead,(512) 448-4111,www.austinhomesearch.com/2840940,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1

In [6]:
df["environmental risk"].unique()

array(['Environmental RiskThis home is in the Zilker neighborhood of Austin, TX. While we cannot show environmental risk information for this listing, you can find more information about flood risk and wildfire risk in Zilker.Environmental risk data is provided by Risk Factor™, a product of First Street Foundation®. The Risk Factor models are designed to approximate risk and not intended to include all possible scenarios.'],
      dtype=object)

In [7]:
df["monthly payment"].unique()

array(['Monthly Payment'], dtype=object)

In [8]:
df["neighborhood"].unique()

array(['NeighborhoodFacts about 2008 Kinney AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Kinney Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 2105 Rabb Glen StIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Rabb Glen St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1607 Rabb RdIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Rabb Rd, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 2124 Bluebonnet LnIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Bluebonnet Ln, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1800 Kinney AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Kinney Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1403 Garner AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Garner Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1404 Garner AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Garner Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 2100 Peach Tree StIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Peach Tree St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1406 Folts AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Folts Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1901 Hether StIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Hether St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1804 Frazier AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Frazier Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 2103 Peach Tree StIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Peach Tree St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1808 Ford St Unit 1In the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Ford St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1711 Nash AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Nash Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1403 Oxford AveIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Oxford Ave, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1714 Valeria StIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Valeria St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin',
       'NeighborhoodFacts about 1502 Hillmont StIn the Zilker neighborhood of Austin, TXAsk a neighborhood expert.Contact AgentCheck out other homes valueson Hillmont St, Austin, TX.$1,049,000Median Listing Home Price$714Median Listing Home Price Per Sq FtNearby Neighborhoods in Austin, TXBouldin CreekMedian Listing Home Price:$1,259,000Downtown AustinMedian Listing Home Price:$849,000South LamarMedian Listing Home Price:$799,900Travis HeightsMedian Listing Home Price:$1,222,500Popular searches in Austin include: Big LotCorner LotOpen Floor PlanModern KitchenSwimming PoolRental PropertyLake ViewBig YardFenced YardUpdated KitchenFarmEfficientVaulted CeilingGourmet KitchenMedia RoomGated CommunityWaterfrontGranite KitchenSolar SystemKitchen IslandSingle Family Homes AustinCondos AustinTownhomes AustinMulti-Family Homes AustinMfd/Mobile Homes AustinFarms AustinLands AustinNew Constructions AustinNewest Listings AustinRecently Sold Homes Austin'],
      dtype=object)

> dropping the environmental risk & monthly payment columns as they show case no relevant information & changing the neighborhood column to reflect the neighborhood in which the house is located as this will be handy when creating an sql data base to group the houses by neighborhood.

In [9]:
os.listdir('input files')

['Realator realestateandhomes_search in Circle_C_Ranch_Austin_TX-type_single_family_home at 2023-01-27 20.49.37.json',
 'Realator realestateandhomes_search in Garrison_Park_Austin_TX-type_single_family_home at 2023-01-27 18.06.18.json',
 'Realator realestateandhomes_search in MLK__Austin_TX-type_single_family_home at 2023-01-27 22.47.35.json',
 'Realator realestateandhomes_search in Montopolis_Austin_TX-type_single_family_home at 2023-01-27 14.05.01.json',
 'Realator realestateandhomes_search in North_Austin_Austin_TX-type_single_family_home at 2023-01-27 17.34.59.json',
 'Realator realestateandhomes_search in South_Lamar_Austin_TX-type_single_family_home at 2023-01-27 20.32.22.json',
 'Realator realestateandhomes_search in Windsor_Park_Austin_TX-type_single_family_home at 2023-01-27 20.38.33.json',
 'Realator realestateandhomes_search in Zilker_Austin_TX-type_single_family_home at 2023-01-27 19.57.47.json']

In [10]:
f_list = os.listdir('input files')
for file in f_list:

    df = pd.read_json(input_dir + file)
    c_df = df.drop_duplicates(subset = ['listing page'])
    
    if "environmental risk" in c_df.columns:
        c_df.drop(columns= ["environmental risk"], inplace= True)
        
    if "monthly payment" in c_df.columns:
        c_df.drop(columns= ["monthly payment"], inplace= True)
        
    neighborhood_name = re.search(r"(?<=in\s{1})\w+(?=-)",file)[0].replace("_"," ")
    c_df["neighborhood"] = neighborhood_name
            
    c_df.to_json(output_dir + file)
    print(file, f"<<<<{len(c_df)}>>>>")

Realator realestateandhomes_search in Circle_C_Ranch_Austin_TX-type_single_family_home at 2023-01-27 20.49.37.json <<<<26>>>>
Realator realestateandhomes_search in Garrison_Park_Austin_TX-type_single_family_home at 2023-01-27 18.06.18.json <<<<26>>>>
Realator realestateandhomes_search in MLK__Austin_TX-type_single_family_home at 2023-01-27 22.47.35.json <<<<27>>>>
Realator realestateandhomes_search in Montopolis_Austin_TX-type_single_family_home at 2023-01-27 14.05.01.json <<<<25>>>>
Realator realestateandhomes_search in North_Austin_Austin_TX-type_single_family_home at 2023-01-27 17.34.59.json <<<<19>>>>
Realator realestateandhomes_search in South_Lamar_Austin_TX-type_single_family_home at 2023-01-27 20.32.22.json <<<<12>>>>
Realator realestateandhomes_search in Windsor_Park_Austin_TX-type_single_family_home at 2023-01-27 20.38.33.json <<<<20>>>>
Realator realestateandhomes_search in Zilker_Austin_TX-type_single_family_home at 2023-01-27 19.57.47.json <<<<17>>>>

C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["environmental risk"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df.drop(columns= ["monthly payment"], inplace= True)
C:\Users\abdal\AppData\Local\Temp\ipykernel_10060\1841032080.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_df["neighborhood"] = neighborhood_name

## Investigating The Columns That May Better Be Represented As A Separate Table

In [11]:
df.head()

,listing page,status,price,address,bed rooms,bath rooms,parameter,lot area,property type,display period,...,monthly payment,environmental risk,property price history,property tax history,flood factor score,provider name,provider phone,provider page,schools,fire factor score
0,https://www.realtor.com/realestateandhomes-det...,For Sale,"$3,900,000","2008 Kinney Ave, Austin, TX 78704Email agent",4bed,3bath,025sqf,"6,251sqft lot",Single Family,2 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/24\/2023"",""1"":""01\/23\/2023""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Tracy Tutor Tutor,(512) 866-3795,www.austinhomesearch.com/9478274,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
1,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,250,000","2105 Rabb Glen St, Austin, TX 78704Email agent",3bed,2bath,160sqf,"6,395sqft lot",Single Family,16 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/11\/2023"",""1"":""05\/31\/1991""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Connelly Breeland,(512) 327-4800,https://www.sothebysrealty.com/id/dfbe8f,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
2,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,199,500","1607 Rabb Rd, Austin, TX 78704Email agent",4bed,2bath,456sqf,"8,102sqft lot",Single Family,21 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/06\/2023"",""1"":""01\/08\/2022""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Gregg Wallace,(512) 422-8906,www.austinhomesearch.com/6284957,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
3,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,850,000$25k","2124 Bluebonnet Ln, Austin, TX 78704Email agent",4bed,3bath,056sqf,0.3acre lot,Single Family,65 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/12\/2023"",""1"":""12\/12\/2022""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Annie Bright,(512) 518-0008,www.austinhomesearch.com/1665872,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1
4,https://www.realtor.com/realestateandhomes-det...,For Sale,"$849,900$50k","1800 Kinney Ave, Austin, TX 78704Email agent",2bed,2bath,318sqf,"5,484sqft lot",Single Family,72 Days,...,Monthly Payment,Environmental RiskThis home is in the Zilker n...,"{""Date"":{""0"":""01\/26\/2023"",""1"":""01\/12\/2023""...","{""Year"":{""0"":""2022"",""1"":""2021"",""2"":""2020"",""3"":...",1,Jordan Moorhead,(512) 448-4111,www.austinhomesearch.com/2840940,"[{'id': '0768579341', 'name': 'Lee Elementary ...",1

In [12]:
df.columns

Index(['listing page', 'status', 'price', 'address', 'bed rooms', 'bath rooms',
       'parameter', 'lot area', 'property type', 'display period',
       'price per foot', 'garage', 'year built', 'neighborhood',
       'property details', 'monthly payment', 'environmental risk',
       'property price history', 'property tax history', 'flood factor score',
       'provider name', 'provider phone', 'provider page', 'schools',
       'fire factor score'],
      dtype='object')

### row number

In [13]:
# reviewing the first row contents
f_row = df.iloc[7]

In [14]:
print(f_row)

listing page              https://www.realtor.com/realestateandhomes-det...
status                                                             For Sale
price                                                       $2,590,000$310k
address                     2100 Peach Tree St, Austin, TX 78704Email agent
bed rooms                                                              3bed
bath rooms                                                            0bath
parameter                                                            085sqf
lot area                                                      6,534sqft lot
property type                                                 Single Family
display period                                                      95 Days
price per foot                                                         $840
garage                                                               2 cars
year built                                                             2022
neighborhood              NeighborhoodFacts about 2100 Peach Tree StIn t...
property details          {'Bedrooms': 'Bedrooms: 3', 'Bathrooms': 'Tota...
monthly payment                                             Monthly Payment
environmental risk        Environmental RiskThis home is in the Zilker n...
property price history    {"Date":{"0":"01\/05\/2023","1":"11\/29\/2022"...
property tax history      {"Year":{"0":"2022","1":"2021","2":"2020","3":...
flood factor score                                                        1
provider name                                               Taylor Drolette
provider phone                                               (512) 770-6526
provider page                              www.austinhomesearch.com/9296767
schools                   [{'id': '0768579341', 'name': 'Lee Elementary ...
fire factor score                                                         1
Name: 7, dtype: object

In [15]:
f_row["listing page"]

'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712'

## Building Functions To Extract & Modify The Investigated Columns:

### The School Column

In [16]:
schools = list(f_row["schools"])
schools

[{'id': '0768579341',
  'name': 'Lee Elementary School',
  'slug': 'Lee-Elementary-School-0768579341',
  'education_levels': ['elementary'],
  'distance_in_miles': 1.1,
  'student_teacher_ratio': 15.8,
  'rating': 8,
  'grades': ['PK', 'K', '1', '2', '3', '4', '5', '6'],
  'funding_type': 'public',
  'student_count': 433,
  'review_count': 11,
  'parent_rating': 5,
  'assigned': True},
 {'id': '0768579421',
  'name': 'Mccallum High School',
  'slug': 'Mccallum-High-School-0768579421',
  'education_levels': ['high'],
  'distance_in_miles': 1.2,
  'student_teacher_ratio': 16.2,
  'rating': 7,
  'grades': ['9', '10', '11', '12'],
  'funding_type': 'public',
  'student_count': 1769,
  'review_count': 5,
  'parent_rating': 4,
  'assigned': True},
 {'id': '0768580051',
  'name': 'Kealing Middle School',
  'slug': 'Kealing-Middle-School-0768580051',
  'education_levels': ['middle'],
  'distance_in_miles': 2.7,
  'student_teacher_ratio': 14.2,
  'rating': 7,
  'grades': ['6', '7', '8'],
  'funding_type': 'public',
  'student_count': 1230,
  'review_count': 32,
  'parent_rating': 4,
  'assigned': True},
 {'id': '0768942701',
  'name': 'Hyde Park Montessori',
  'slug': 'Hyde-Park-Montessori-0768942701',
  'education_levels': ['elementary'],
  'distance_in_miles': 0.4,
  'student_teacher_ratio': None,
  'rating': None,
  'grades': ['PK', 'K'],
  'funding_type': 'private',
  'student_count': None,
  'review_count': 0,
  'parent_rating': None,
  'assigned': None},
 {'id': '0768690941',
  'name': 'Huntington-Surrey High School',
  'slug': 'Huntington-Surrey-High-School-0768690941',
  'education_levels': ['middle', 'high'],
  'distance_in_miles': 0.5,
  'student_teacher_ratio': None,
  'rating': None,
  'grades': ['8', '9', '10', '11', '12'],
  'funding_type': 'private',
  'student_count': 37,
  'review_count': 6,
  'parent_rating': 5,
  'assigned': None},
 {'id': '0768839901',
  'name': 'AHB Community School',
  'slug': 'AHB-Community-School-0768839901',
  'education_levels': ['elementary', 'middle'],
  'distance_in_miles': 0.6000000000000001,
  'student_teacher_ratio': None,
  'rating': None,
  'grades': ['1', '2', '3', '4', '5', '6', '7', '8'],
  'funding_type': 'private',
  'student_count': 62,
  'review_count': 24,
  'parent_rating': 4,
  'assigned': None},
 {'id': '0768840531',
  'name': 'Helping Hand',
  'slug': 'Helping-Hand-0768840531',
  'education_levels': ['elementary', 'middle'],
  'distance_in_miles': 0.7000000000000001,
  'student_teacher_ratio': 5.7,
  'rating': None,
  'grades': ['2', '3', '4', '5', '6', '7'],
  'funding_type': 'public',
  'student_count': 25,
  'review_count': 0,
  'parent_rating': None,
  'assigned': None},
 {'id': '0768579661',
  'name': 'Ridgetop Elementary School',
  'slug': 'Ridgetop-Elementary-School-0768579661',
  'education_levels': ['elementary'],
  'distance_in_miles': 0.7000000000000001,
  'student_teacher_ratio': 14.8,
  'rating': 5,
  'grades': ['PK', 'K', '1', '2', '3', '4', '5'],
  'funding_type': 'public',
  'student_count': 373,
  'review_count': 11,
  'parent_rating': 5,
  'assigned': None},
 {'id': '0768579951',
  'name': 'Rosedale',
  'slug': 'Rosedale-0768579951',
  'education_levels': ['elementary', 'middle', 'high'],
  'distance_in_miles': 1,
  'student_teacher_ratio': 8,
  'rating': None,
  'grades': ['PK',
   'K',
   '1',
   '2',
   '3',
   '4',
   '5',
   '6',
   '7',
   '8',
   '9',
   '10',
   '11',
   '12'],
  'funding_type': 'public',
  'student_count': 247,
  'review_count': 2,
  'parent_rating': 5,
  'assigned': None},
 {'id': '0768933001',
  'name': 'Cedars Academy Next Generation H S at Highland',
  'slug': 'Cedars-Academy-Next-Generation-H-S-at-Highland-0768933001',
  'education_levels': ['middle', 'high'],
  'distance_in_miles': 1.7000000000000002,
  'student_teacher_ratio': 9.4,
  'rating': 5,
  'grades': ['8', '9', '10', '11', '12'],
  'funding_type': 'public',
  'student_count': 148,
  'review_count': 3,
  'parent_rating': 5,
  'assigned': None}]

In [17]:
list(f_row["schools"])[0]

{'id': '0768579341',
 'name': 'Lee Elementary School',
 'slug': 'Lee-Elementary-School-0768579341',
 'education_levels': ['elementary'],
 'distance_in_miles': 1.1,
 'student_teacher_ratio': 15.8,
 'rating': 8,
 'grades': ['PK', 'K', '1', '2', '3', '4', '5', '6'],
 'funding_type': 'public',
 'student_count': 433,
 'review_count': 11,
 'parent_rating': 5,
 'assigned': True}

In [18]:
s_df = pd.DataFrame(schools)
s_df

,id,name,slug,education_levels,distance_in_miles,student_teacher_ratio,rating,grades,funding_type,student_count,review_count,parent_rating,assigned
0,0768579341,Lee Elementary School,Lee-Elementary-School-0768579341,[elementary],1.1,15.8,8.0,"[PK, K, 1, 2, 3, 4, 5, 6]",public,433.0,11,5.0,True
1,0768579421,Mccallum High School,Mccallum-High-School-0768579421,[high],1.2,16.2,7.0,"[9, 10, 11, 12]",public,1769.0,5,4.0,True
2,0768580051,Kealing Middle School,Kealing-Middle-School-0768580051,[middle],2.7,14.2,7.0,"[6, 7, 8]",public,1230.0,32,4.0,True
3,0768942701,Hyde Park Montessori,Hyde-Park-Montessori-0768942701,[elementary],0.4,NaN,NaN,"[PK, K]",private,NaN,0,NaN,None
4,0768690941,Huntington-Surrey High School,Huntington-Surrey-High-School-0768690941,"[middle, high]",0.5,NaN,NaN,"[8, 9, 10, 11, 12]",private,37.0,6,5.0,None
5,0768839901,AHB Community School,AHB-Community-School-0768839901,"[elementary, middle]",0.6,NaN,NaN,"[1, 2, 3, 4, 5, 6, 7, 8]",private,62.0,24,4.0,None
6,0768840531,Helping Hand,Helping-Hand-0768840531,"[elementary, middle]",0.7,5.7,NaN,"[2, 3, 4, 5, 6, 7]",public,25.0,0,NaN,None
7,0768579661,Ridgetop Elementary School,Ridgetop-Elementary-School-0768579661,[elementary],0.7,14.8,5.0,"[PK, K, 1, 2, 3, 4, 5]",public,373.0,11,5.0,None
8,0768579951,Rosedale,Rosedale-0768579951,"[elementary, middle, high]",1.0,8.0,NaN,"[PK, K, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]",public,247.0,2,5.0,None
9,0768933001,Cedars Academy Next Generation H S at Highland,Cedars-Academy-Next-Generation-H-S-at-Highland...,"[middle, high]",1.7,9.4,5.0,"[8, 9, 10, 11, 12]",public,148.0,3,5.0,None

In [19]:
# Building a function that turns the school column value from str to list  and adds 
# the house listing page to each school in the school list
schools_all = []
def school_f(schools,listing_page):
    s_df = pd.DataFrame(list(schools))
    s_df["listing page"] = listing_page
    
    global schools_all
    if len(schools_all) == 0:
        schools_all = pd.DataFrame(columns = list(s_df.columns))
    schools_all = pd.concat([schools_all,s_df], ignore_index = True)

In [20]:
# testing the function 
school_f(f_row["schools"], f_row["listing page"])
schools_all

,id,name,slug,education_levels,distance_in_miles,student_teacher_ratio,rating,grades,funding_type,student_count,review_count,parent_rating,assigned,listing page
0,0768579341,Lee Elementary School,Lee-Elementary-School-0768579341,[elementary],1.1,15.8,8.0,"[PK, K, 1, 2, 3, 4, 5, 6]",public,433.0,11,5.0,True,https://www.realtor.com/realestateandhomes-det...
1,0768579421,Mccallum High School,Mccallum-High-School-0768579421,[high],1.2,16.2,7.0,"[9, 10, 11, 12]",public,1769.0,5,4.0,True,https://www.realtor.com/realestateandhomes-det...
2,0768580051,Kealing Middle School,Kealing-Middle-School-0768580051,[middle],2.7,14.2,7.0,"[6, 7, 8]",public,1230.0,32,4.0,True,https://www.realtor.com/realestateandhomes-det...
3,0768942701,Hyde Park Montessori,Hyde-Park-Montessori-0768942701,[elementary],0.4,NaN,NaN,"[PK, K]",private,NaN,0,NaN,None,https://www.realtor.com/realestateandhomes-det...
4,0768690941,Huntington-Surrey High School,Huntington-Surrey-High-School-0768690941,"[middle, high]",0.5,NaN,NaN,"[8, 9, 10, 11, 12]",private,37.0,6,5.0,None,https://www.realtor.com/realestateandhomes-det...
5,0768839901,AHB Community School,AHB-Community-School-0768839901,"[elementary, middle]",0.6,NaN,NaN,"[1, 2, 3, 4, 5, 6, 7, 8]",private,62.0,24,4.0,None,https://www.realtor.com/realestateandhomes-det...
6,0768840531,Helping Hand,Helping-Hand-0768840531,"[elementary, middle]",0.7,5.7,NaN,"[2, 3, 4, 5, 6, 7]",public,25.0,0,NaN,None,https://www.realtor.com/realestateandhomes-det...
7,0768579661,Ridgetop Elementary School,Ridgetop-Elementary-School-0768579661,[elementary],0.7,14.8,5.0,"[PK, K, 1, 2, 3, 4, 5]",public,373.0,11,5.0,None,https://www.realtor.com/realestateandhomes-det...
8,0768579951,Rosedale,Rosedale-0768579951,"[elementary, middle, high]",1.0,8.0,NaN,"[PK, K, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]",public,247.0,2,5.0,None,https://www.realtor.com/realestateandhomes-det...
9,0768933001,Cedars Academy Next Generation H S at Highland,Cedars-Academy-Next-Generation-H-S-at-Highland...,"[middle, high]",1.7,9.4,5.0,"[8, 9, 10, 11, 12]",public,148.0,3,5.0,None,https://www.realtor.com/realestateandhomes-det...

### The Property Price History Column

In [21]:
price_history = f_row["property price history"]
price_history

'{"Date":{"0":"01\\/05\\/2023","1":"11\\/29\\/2022","2":"11\\/04\\/2022","3":"11\\/03\\/2022","4":"10\\/24\\/2022","5":"09\\/20\\/2022","6":"05\\/13\\/2022"},"Event":{"0":"Price Changed","1":"Listed for rent","2":"Price Changed","3":"Price Changed","4":"Listed","5":"Listing removed","6":"Listed"},"Price":{"0":"$2,590,000 ","1":"$15,000 ","2":"$2,900,000 ","3":"$2,799,999 ","4":"$2,900,000 ","5":"- ","6":"$2,999,000 "},"Price\\/Sq Ft":{"0":"$840 ","1":"$5 ","2":"$940 ","3":"$908 ","4":"$983 ","5":"- ","6":"$1,017 "},"Source":{"0":"Austin","1":"Austin","2":"Austin","3":"Austin","4":"Austin","5":"Austin","6":"Austin"},"profile":{"0":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","1":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","2":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","3":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","4":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","5":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","6":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712"}}'

In [22]:
price_history = json.loads(price_history)
price_history

{'Date': {'0': '01/05/2023',
  '1': '11/29/2022',
  '2': '11/04/2022',
  '3': '11/03/2022',
  '4': '10/24/2022',
  '5': '09/20/2022',
  '6': '05/13/2022'},
 'Event': {'0': 'Price Changed',
  '1': 'Listed for rent',
  '2': 'Price Changed',
  '3': 'Price Changed',
  '4': 'Listed',
  '5': 'Listing removed',
  '6': 'Listed'},
 'Price': {'0': '$2,590,000 ',
  '1': '$15,000 ',
  '2': '$2,900,000 ',
  '3': '$2,799,999 ',
  '4': '$2,900,000 ',
  '5': '- ',
  '6': '$2,999,000 '},
 'Price/Sq Ft': {'0': '$840 ',
  '1': '$5 ',
  '2': '$940 ',
  '3': '$908 ',
  '4': '$983 ',
  '5': '- ',
  '6': '$1,017 '},
 'Source': {'0': 'Austin',
  '1': 'Austin',
  '2': 'Austin',
  '3': 'Austin',
  '4': 'Austin',
  '5': 'Austin',
  '6': 'Austin'},
 'profile': {'0': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '1': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '2': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '3': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '4': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '5': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '6': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712'}}

In [23]:
price_history['profile']["0"] == f_row["listing page"]

True

In [24]:
ph_df= pd.DataFrame(price_history)
ph_df

,Date,Event,Price,Price/Sq Ft,Source,profile
0,01/05/2023,Price Changed,"$2,590,000",$840,Austin,https://www.realtor.com/realestateandhomes-det...
1,11/29/2022,Listed for rent,"$15,000",$5,Austin,https://www.realtor.com/realestateandhomes-det...
2,11/04/2022,Price Changed,"$2,900,000",$940,Austin,https://www.realtor.com/realestateandhomes-det...
3,11/03/2022,Price Changed,"$2,799,999",$908,Austin,https://www.realtor.com/realestateandhomes-det...
4,10/24/2022,Listed,"$2,900,000",$983,Austin,https://www.realtor.com/realestateandhomes-det...
5,09/20/2022,Listing removed,-,-,Austin,https://www.realtor.com/realestateandhomes-det...
6,05/13/2022,Listed,"$2,999,000","$1,017",Austin,https://www.realtor.com/realestateandhomes-det...

In [25]:
# Building a function that turns the price_history column value from str to list  and adds 
# the house listing page to each price_history in the price_history list
price_history_all = {}
def price_history_f(ph_df, listing_page):
    ph_df = pd.DataFrame(json.loads(ph_df))
    ph_df.drop(columns= ['profile'], inplace= True)
    ph_df["listing page"] = listing_page
    global price_history_all
    if len(price_history_all) == 0:
        price_history_all = pd.DataFrame(columns = list(ph_df.columns))
    price_history_all = pd.concat([price_history_all, ph_df], ignore_index = True)

In [26]:
price_history_f(f_row["property price history"], f_row["listing page"])
price_history_all

,Date,Event,Price,Price/Sq Ft,Source,listing page
0,01/05/2023,Price Changed,"$2,590,000",$840,Austin,https://www.realtor.com/realestateandhomes-det...
1,11/29/2022,Listed for rent,"$15,000",$5,Austin,https://www.realtor.com/realestateandhomes-det...
2,11/04/2022,Price Changed,"$2,900,000",$940,Austin,https://www.realtor.com/realestateandhomes-det...
3,11/03/2022,Price Changed,"$2,799,999",$908,Austin,https://www.realtor.com/realestateandhomes-det...
4,10/24/2022,Listed,"$2,900,000",$983,Austin,https://www.realtor.com/realestateandhomes-det...
5,09/20/2022,Listing removed,-,-,Austin,https://www.realtor.com/realestateandhomes-det...
6,05/13/2022,Listed,"$2,999,000","$1,017",Austin,https://www.realtor.com/realestateandhomes-det...

### The Property Tax Column

In [27]:
f_row['property tax history']

'{"Year":{"0":"2022","1":"2021","2":"2020","3":"2019","4":"2018","5":"2017","6":"2016"},"Taxes":{"0":"$19,855","1":"$13,486","2":"$11,055","3":"$11,321","4":"$11,340","5":"$10,573","6":"$10,530"},"Land":{"0":"$450,000","1":"$450,000","2":"$450,000","3":"$450,000","4":"$400,000","5":"$400,000","6":"$285,000"},"added to":{"0":"+","1":"+","2":"+","3":"+","4":"+","5":"+","6":"+"},"Additions":{"0":"$155,695","1":"$65,447","2":"$65,447","3":"$62,235","4":"$74,100","5":"$58,624","6":"$109,316"},"equals":{"0":"=","1":"=","2":"=","3":"=","4":"=","5":"=","6":"="},"Total assessments":{"0":"$605,695","1":"$515,447","2":"$515,447","3":"$512,235","4":"$474,100","5":"$458,624","6":"$394,316"},"profile":{"0":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","1":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","2":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","3":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","4":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","5":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712","6":"https:\\/\\/www.realtor.com\\/realestateandhomes-detail\\/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712"}}'

In [28]:
t_pth = json.loads(f_row['property tax history'])
t_pth

{'Year': {'0': '2022',
  '1': '2021',
  '2': '2020',
  '3': '2019',
  '4': '2018',
  '5': '2017',
  '6': '2016'},
 'Taxes': {'0': '$19,855',
  '1': '$13,486',
  '2': '$11,055',
  '3': '$11,321',
  '4': '$11,340',
  '5': '$10,573',
  '6': '$10,530'},
 'Land': {'0': '$450,000',
  '1': '$450,000',
  '2': '$450,000',
  '3': '$450,000',
  '4': '$400,000',
  '5': '$400,000',
  '6': '$285,000'},
 'added to': {'0': '+',
  '1': '+',
  '2': '+',
  '3': '+',
  '4': '+',
  '5': '+',
  '6': '+'},
 'Additions': {'0': '$155,695',
  '1': '$65,447',
  '2': '$65,447',
  '3': '$62,235',
  '4': '$74,100',
  '5': '$58,624',
  '6': '$109,316'},
 'equals': {'0': '=',
  '1': '=',
  '2': '=',
  '3': '=',
  '4': '=',
  '5': '=',
  '6': '='},
 'Total assessments': {'0': '$605,695',
  '1': '$515,447',
  '2': '$515,447',
  '3': '$512,235',
  '4': '$474,100',
  '5': '$458,624',
  '6': '$394,316'},
 'profile': {'0': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '1': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '2': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '3': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '4': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '5': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712',
  '6': 'https://www.realtor.com/realestateandhomes-detail/2100-Peach-Tree-St_Austin_TX_78704_M86021-27712'}}

In [29]:
t_pth['profile']["0"] == f_row['listing page']

True

In [30]:
t_pth = pd.DataFrame(t_pth)
t_pth

,Year,Taxes,Land,added to,Additions,equals,Total assessments,profile
0,2022,"$19,855","$450,000",+,"$155,695",=,"$605,695",https://www.realtor.com/realestateandhomes-det...
1,2021,"$13,486","$450,000",+,"$65,447",=,"$515,447",https://www.realtor.com/realestateandhomes-det...
2,2020,"$11,055","$450,000",+,"$65,447",=,"$515,447",https://www.realtor.com/realestateandhomes-det...
3,2019,"$11,321","$450,000",+,"$62,235",=,"$512,235",https://www.realtor.com/realestateandhomes-det...
4,2018,"$11,340","$400,000",+,"$74,100",=,"$474,100",https://www.realtor.com/realestateandhomes-det...
5,2017,"$10,573","$400,000",+,"$58,624",=,"$458,624",https://www.realtor.com/realestateandhomes-det...
6,2016,"$10,530","$285,000",+,"$109,316",=,"$394,316",https://www.realtor.com/realestateandhomes-det...

In [31]:
# Building a function that turns the tax_history column value from str to list  and adds 
# the house listing page to each tax_history in the tax_history list
tax_history_all = {}
def tax_history_f(p_history, listing_page):
    t_pth = pd.DataFrame(json.loads(p_history))
    t_pth.drop(columns= ['profile'], inplace= True)
    t_pth["listing page"] = listing_page
    global tax_history_all 
    if len(tax_history_all) == 0:
        tax_history_all = pd.DataFrame(columns = list(t_pth.columns))
    tax_history_all = pd.concat([tax_history_all, t_pth], ignore_index = True)

In [32]:
tax_history_f(f_row['property tax history'], f_row["listing page"])
tax_history_all

,Year,Taxes,Land,added to,Additions,equals,Total assessments,listing page
0,2022,"$19,855","$450,000",+,"$155,695",=,"$605,695",https://www.realtor.com/realestateandhomes-det...
1,2021,"$13,486","$450,000",+,"$65,447",=,"$515,447",https://www.realtor.com/realestateandhomes-det...
2,2020,"$11,055","$450,000",+,"$65,447",=,"$515,447",https://www.realtor.com/realestateandhomes-det...
3,2019,"$11,321","$450,000",+,"$62,235",=,"$512,235",https://www.realtor.com/realestateandhomes-det...
4,2018,"$11,340","$400,000",+,"$74,100",=,"$474,100",https://www.realtor.com/realestateandhomes-det...
5,2017,"$10,573","$400,000",+,"$58,624",=,"$458,624",https://www.realtor.com/realestateandhomes-det...
6,2016,"$10,530","$285,000",+,"$109,316",=,"$394,316",https://www.realtor.com/realestateandhomes-det...

## creating data separate DataFrames for schools, property tax and property history for all the neighborhoods and concatenating all the neighborhoods in one json file

In [33]:
# checking the current directory
os.getcwd()

'c:\\Users\\abdal\\OneDrive\\Documents\\udacity\\python tutorials\\realtor sql'

In [34]:
schools_all = []
price_history_all = {}
tax_history_all = {}

In [35]:
f_list = os.listdir(output_dir)
neighborhoods_len = {}

for file in f_list:
    df = pd.read_json(input_dir + file)
    
    for index, row in df.iterrows():
        school_f(row["schools"], row["listing page"])
        try:
            tax_history_f(row["property tax history"], row["listing page"])
        except:
            pass
        try:
            price_history_f(row["property price history"], row["listing page"])
        except:
            pass
        
    df.drop(columns= ["schools","property tax history","property price history"], axis = 1, inplace= True)
    
    neighborhood_name = re.search(r"(?<=in\s{1})\w+(?=-)",file)[0].replace("_"," ")
    neighborhoods_len[neighborhood_name] = len(df)
    
    try:
        df = pd.concat([df_last, df], ignore_index= True)
    except:
        pass
        
    df_last = df

In [36]:
neighborhoods_len

{'Circle C Ranch Austin TX': 52,
 'Garrison Park Austin TX': 52,
 'MLK  Austin TX': 27,
 'Montopolis Austin TX': 50,
 'North Austin Austin TX': 38,
 'South Lamar Austin TX': 24,
 'Windsor Park Austin TX': 40,
 'Zilker Austin TX': 34}

> checking if the length of the individual neighborhoods files adds up to the lengh of austin neighborhoods file

In [37]:
sum(neighborhoods_len.values()) == len(df)

True

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing page        317 non-null    object
 1   status              317 non-null    object
 2   price               317 non-null    object
 3   address             317 non-null    object
 4   bed rooms           317 non-null    object
 5   bath rooms          317 non-null    object
 6   parameter           317 non-null    object
 7   lot area            317 non-null    object
 8   property type       317 non-null    object
 9   display period      317 non-null    object
 10  price per foot      317 non-null    object
 11  garage              317 non-null    object
 12  year built          317 non-null    object
 13  neighborhood        317 non-null    object
 14  property details    317 non-null    object
 15  monthly payment     317 non-null    object
 16  environmental risk  317 non-null    object
 17  flood factor score  317 non-null    int64
 18  provider name       317 non-null    object
 19  provider phone      317 non-null    object
 20  provider page       317 non-null    object
 21  fire factor score   317 non-null    int64
dtypes: int64(2), object(20)
memory usage: 54.6+ KB

In [39]:
df.head()

,listing page,status,price,address,bed rooms,bath rooms,parameter,lot area,property type,display period,...,year built,neighborhood,property details,monthly payment,environmental risk,flood factor score,provider name,provider phone,provider page,fire factor score
0,https://www.realtor.com/realestateandhomes-det...,For Sale,"$999,000","6808 Magenta Ln, Austin, TX 78739Email agent",4bed,5bath,672sqf,0.25acre lot,Single Family,2 Hours,...,2004,NeighborhoodFacts about 6808 Magenta LnIn the ...,{'Bedrooms': 'Bedrooms: 4 Bedrooms On Main Lev...,Monthly Payment,Environmental RiskThis home is in the Circle C...,1,Salomon Silva,(512) 241-1300,www.austinhomesearch.com/6314583,1
1,https://www.realtor.com/realestateandhomes-det...,For Sale,"$955,000","10625 Redmond Rd, Austin, TX 78739Email agent",4bed,5bath,745sqf,witout a lot!,Single Family,22 Hours,...,1993,NeighborhoodFacts about 10625 Redmond RdIn the...,{'Bedrooms': 'Bedrooms: 4 Bedrooms On Main Lev...,Monthly Payment,Environmental RiskThis home is in the Circle C...,1,John Squires,(512) 448-4111,www.austinhomesearch.com/4755340,1
2,https://www.realtor.com/realestateandhomes-det...,Contingent,"$569,000","6105 Back Bay Ln, Austin, TX 78739Email agent",3bed,2bath,780sqf,"8,255sqft lot",Single Family,9 Days,...,1990,NeighborhoodFacts about 6105 Back Bay LnIn the...,{'Bedrooms': 'Bedrooms: 3 Bedrooms On Main Lev...,Monthly Payment,Environmental RiskThis home is in the Circle C...,1,Tammy Koen,(512) 451-2422,www.austinhomesearch.com/1457544,1
3,https://www.realtor.com/realestateandhomes-det...,For Sale,"$1,250,000","12701 Cricoli Dr, Austin, TX 78739Email agent",4bed,5bath,140sqf,0.26acre lot,Single Family,3 Days,...,2014,NeighborhoodFacts about 12701 Cricoli DrIn the...,{'Bedrooms': 'Bedrooms: 4 Bedroom 1 Dimensions...,Monthly Payment,Environmental RiskThis home is in the Circle C...,1,Crystal Olenbush,(512) 344-6000,not available,1
4,https://www.realtor.com/realestateandhomes-det...,For Sale,"$765,000","5220 Scottish Thistle Dr, Austin, TX 78739Emai...",4bed,5bath,339sqf,0.23acre lot,Single Family,10 Days,...,2001,NeighborhoodFacts about 5220 Scottish Thistle ...,{'Bedrooms': 'Bedrooms: 4 Bedrooms On Main Lev...,Monthly Payment,Environmental RiskThis home is in the Circle C...,1,Audra Smith,(512) 344-6000,www.austinhomesearch.com/8043412,1

> changing the columns names style to suite the sql naming conversions

In [40]:
# a functions to replace the space in the columns names with under score
def adapt_columns_sql (df):
    new_columns = {}
    for column in df.columns:
        new_columns[column] = column.replace(" ", "_")
    new_columns
    df.rename(columns = new_columns, inplace= True)

In [41]:
adapt_columns_sql (df)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing_page        317 non-null    object
 1   status              317 non-null    object
 2   price               317 non-null    object
 3   address             317 non-null    object
 4   bed_rooms           317 non-null    object
 5   bath_rooms          317 non-null    object
 6   parameter           317 non-null    object
 7   lot_area            317 non-null    object
 8   property_type       317 non-null    object
 9   display_period      317 non-null    object
 10  price_per_foot      317 non-null    object
 11  garage              317 non-null    object
 12  year_built          317 non-null    object
 13  neighborhood        317 non-null    object
 14  property_details    317 non-null    object
 15  monthly_payment     317 non-null    object
 16  environmental_risk  317 non-null    object
 17  flood_factor_score  317 non-null    int64
 18  provider_name       317 non-null    object
 19  provider_phone      317 non-null    object
 20  provider_page       317 non-null    object
 21  fire_factor_score   317 non-null    int64
dtypes: int64(2), object(20)
memory usage: 54.6+ KB

In [43]:
df.to_csv(output_dir + "austin neighborhoods.csv", index = False)

> checking and rename the sub DataFrames columns

In [44]:
adapt_columns_sql(schools_all)

In [45]:
schools_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3170 entries, 0 to 3169
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3170 non-null   object
 1   name                   3170 non-null   object
 2   slug                   3170 non-null   object
 3   education_levels       3170 non-null   object
 4   distance_in_miles      3170 non-null   float64
 5   student_teacher_ratio  2219 non-null   float64
 6   rating                 1585 non-null   float64
 7   grades                 3170 non-null   object
 8   funding_type           3170 non-null   object
 9   student_count          2853 non-null   float64
 10  review_count           3170 non-null   object
 11  parent_rating          2536 non-null   float64
 12  assigned               951 non-null    object
 13  listing_page           3170 non-null   object
dtypes: float64(5), object(9)
memory usage: 346.8+ KB

In [46]:
schools_all.head()

,id,name,slug,education_levels,distance_in_miles,student_teacher_ratio,rating,grades,funding_type,student_count,review_count,parent_rating,assigned,listing_page
0,0768579341,Lee Elementary School,Lee-Elementary-School-0768579341,[elementary],1.1,15.8,8.0,"[PK, K, 1, 2, 3, 4, 5, 6]",public,433.0,11,5.0,True,https://www.realtor.com/realestateandhomes-det...
1,0768579421,Mccallum High School,Mccallum-High-School-0768579421,[high],1.2,16.2,7.0,"[9, 10, 11, 12]",public,1769.0,5,4.0,True,https://www.realtor.com/realestateandhomes-det...
2,0768580051,Kealing Middle School,Kealing-Middle-School-0768580051,[middle],2.7,14.2,7.0,"[6, 7, 8]",public,1230.0,32,4.0,True,https://www.realtor.com/realestateandhomes-det...
3,0768942701,Hyde Park Montessori,Hyde-Park-Montessori-0768942701,[elementary],0.4,NaN,NaN,"[PK, K]",private,NaN,0,NaN,None,https://www.realtor.com/realestateandhomes-det...
4,0768690941,Huntington-Surrey High School,Huntington-Surrey-High-School-0768690941,"[middle, high]",0.5,NaN,NaN,"[8, 9, 10, 11, 12]",private,37.0,6,5.0,None,https://www.realtor.com/realestateandhomes-det...

In [47]:
adapt_columns_sql(price_history_all)

In [48]:
price_history_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1741 non-null   object
 1   Event         1741 non-null   object
 2   Price         1741 non-null   object
 3   Price/Sq_Ft   1741 non-null   object
 4   Source        1741 non-null   object
 5   listing_page  1741 non-null   object
dtypes: object(6)
memory usage: 81.7+ KB

In [49]:
price_history_all.head()

,Date,Event,Price,Price/Sq_Ft,Source,listing_page
0,01/27/2023,Listed,"$999,000",$272,Austin,https://www.realtor.com/realestateandhomes-det...
1,12/13/2022,Listing removed,-,-,Austin,https://www.realtor.com/realestateandhomes-det...
2,10/14/2022,Listed,"$1,100,000",$300,Austin,https://www.realtor.com/realestateandhomes-det...
3,01/25/2017,Listing removed,"$3,400",$1,Austin,https://www.realtor.com/realestateandhomes-det...
4,01/04/2017,Price Changed for rent,"$3,400",$1,Austin,https://www.realtor.com/realestateandhomes-det...

In [50]:
adapt_columns_sql(tax_history_all)

In [51]:
tax_history_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078 entries, 0 to 2077
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               2078 non-null   object
 1   Taxes              2078 non-null   object
 2   Land               2078 non-null   object
 3   added_to           2078 non-null   object
 4   Additions          2078 non-null   object
 5   equals             2078 non-null   object
 6   Total_assessments  2078 non-null   object
 7   listing_page       2078 non-null   object
dtypes: object(8)
memory usage: 130.0+ KB

In [52]:
tax_history_all.head()

,Year,Taxes,Land,added_to,Additions,equals,Total_assessments,listing_page
0,2022,"$15,125",N/A,+,N/A,=,"$631,730",https://www.realtor.com/realestateandhomes-det...
1,2021,"$14,066","$100,000",+,"$533,825",=,"$633,825",https://www.realtor.com/realestateandhomes-det...
2,2020,"$13,594","$100,000",+,"$533,825",=,"$633,825",https://www.realtor.com/realestateandhomes-det...
3,2019,"$13,922","$100,000",+,"$485,218",=,"$585,218",https://www.realtor.com/realestateandhomes-det...
4,2018,"$13,154",N/A,+,N/A,=,"$560,105",https://www.realtor.com/realestateandhomes-det...

### saving all the extracted sub dataframes

In [53]:
schools_all.to_csv(output_dir + "schools all.csv", index = False)
price_history_all.to_csv(output_dir + "price history all.csv", index = False)
tax_history_all.to_csv(output_dir + "tax history all.csv", index = False)

> deleting all the individual neighborhoods files after saving the concated file.

In [54]:
for file in f_list:
    if "austin neighborhoods" not in file:
        os.remove(output_dir + file)

In [55]:
list(df.columns)

['listing_page',
 'status',
 'price',
 'address',
 'bed_rooms',
 'bath_rooms',
 'parameter',
 'lot_area',
 'property_type',
 'display_period',
 'price_per_foot',
 'garage',
 'year_built',
 'neighborhood',
 'property_details',
 'monthly_payment',
 'environmental_risk',
 'flood_factor_score',
 'provider_name',
 'provider_phone',
 'provider_page',
 'fire_factor_score']

In [56]:
list(schools_all.columns)

['id',
 'name',
 'slug',
 'education_levels',
 'distance_in_miles',
 'student_teacher_ratio',
 'rating',
 'grades',
 'funding_type',
 'student_count',
 'review_count',
 'parent_rating',
 'assigned',
 'listing_page']

In [57]:
list(price_history_all.columns)

['Date', 'Event', 'Price', 'Price/Sq_Ft', 'Source', 'listing_page']

In [58]:
list(tax_history_all.columns)

['Year',
 'Taxes',
 'Land',
 'added_to',
 'Additions',
 'equals',
 'Total_assessments',
 'listing_page']